body {
    margin: 0;
    padding: 0;
    background: url("../img/bgc.png");
    font-family: 'Roboto', sans-serif;
    color: #fff;
    height: 100%;
    width: 100%;
}
ul, li {
    display: block;
}
.header {
    background: url("../img/background.jpg") no-repeat;
    background-size: auto;
    font-size: 16px;
}
nav {
    display: flex;
    
    
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav ul {
    display: flex;
    margin-top: 48px;
}
nav li {
    padding-right: 56px;
}
.button {
    width: 183px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    margin-top: 20px;
    
}
.logo {
    margin-left: 80px;
    margin-right: 466px;
    margin-top: 40px;
}
.contacts {
    margin-right: 214px;
}
.content p {
    font-weight: bold;
    font-size: 64px;
    margin-top: 198px;
    margin-left: 312px;
}
.box {
    display: flex;
    margin-left: 312px;
}
.box ul {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.box-item {
    width: 102px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background: #121212;
    margin-right: 30px;
}
.numbers {
    font-weight: bold;
    font-size: 36px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.days {
    font-size: 16px;
    opacity: 0.4;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}
.main-foot {
    background: #121212;
    margin-top: 160px;
    height: 128px;
    display: flex;
    align-items: center;
}
.button-curse {
    width: 169px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    margin-left: 312px;
    margin-right: 65px;
}
.opacity {
    opacity: 0.4;
}
.bold {
    font-weight: bold;
}
.bar-color {
    width: 440px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.mt {
    margin-top: 10px;
}
.employment {
    margin-left: 312px;
    margin-top: 200px;
    display: flex;
}
.frame-emplo {
    display: flex;
    align-items: center;
}
.frame {
   position: absolute;
}
.comp {
    position: relative;
    margin-top: 96px;
    margin-left: 40px;
}
.subs-employment {
    width: 636px;
    margin-left: 134px;
    margin-top: 69px;
}
.subs-bold {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 45px;
}
.fast-start {
    display: flex;
    align-items: center;
    margin-left: 324.22px;
    font-weight: bold;
    font-size: 48px;
    margin-top: 180px;
}
.ellipse {
    height: 80px;
    margin-right: 20px;
}
.disc-first-start {
    width: 411px;
    height: 52px;
    opacity: 0.5;
    margin-left: 317px;
}
.graphs ul {
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1315px;
    margin-left: 150px;
    margin-top: 80px;
}
.graph-color {
    display: flex;
    margin-left: 312px;
}
.graph-one {
    width: 324px;
    height: 80px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.graph-two {
    width: 324px;
    height: 60px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 13px;
}
.graph-three {
    width: 324px;
    height: 30px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    margin-top: 26px;
}
.graph-results {
    width: 324px;
    height: 10px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-top: 36px;
}
.graphs-disc {
    display: flex;
    font-size: 14px;
    opacity: 0.5;
    margin-left: 312px;
    margin-top: 35px;
}
.graph-item {
    width: 306px;
    height: 88px;
    margin-right: 18px;
}
.profession {
    font-weight: bold;
    font-size: 48px;
    margin-left: 555px;
    margin-top: 200px;
}
.icons {
    margin-left: 470px;
    margin-top: 120px;
}
.icon {
    margin-right: 340px;
}
.icons-title {
    display: flex;
    margin-left: 312px;
}
.icons-title p {
    width: 416px;
    height: 68px;
    text-align: center;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 500;
}
.icons-disc {
    display: flex;
    margin-left: 341px;
}
.icons-disc p {
    width: 358px;
    height: 104px;
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
    margin-right: 82px;
}
.partners {
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
    margin-left: 293px;
    margin-top: 231px;
}
.ellipse2   {
    height: 80px;
    margin-right: 51.93px;
}
.app {
    width: 1296px;
    height: 300px;
    background: #ffffff50;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1px;
    margin-left: 290px;
    margin-top: 112px;
}
.item {
    background: url("../img/bgc.png");
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item img {
    width: 50%;
    height: 50%;
  }
  .top-row {
    border-top: 0;
  }
  .bottom-row {
    border-bottom: 0;
  }
  
  .left-corner {
    border-left: 0;
  }
  .right-corner {
    border-right: 0;
  }
.ellipse3 {
    display: flex;
    justify-content: center;
    margin-top: 243.5px;
}
.science {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
}
.disc-science {
    font-size: 16px;
    opacity: 0.5;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 1.5;
}
.tree {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 80px;
}
.tree2 {
    display: flex;  
}
.tree-items {
    display: flex;
    height: 100px;
}
.tree-items-right {
    display: flex;
    height: 100px;
    flex-direction: row-reverse;
    margin-right: 159px;
}
.tree-item-left {
    margin-right: -16px;
}
.tree-item-left li {
    width: 228px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 60px;
    margin-left: 625px;
    text-align: right;
}
.tree-item-right li {
    width: 228px;
    height: 40px;
    display: flex;
    text-align: left;
    margin-left: 20px;
}
.tree-graph {
    width: 6px;
    height: 100px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.tree-graph-right {
    width: 6px;
    height: 100px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.stick-left {
    width: 40px;
    height: 0px;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    transform: rotate(180deg);
    margin-left: 893px;
}
.stick-right {
    width: 40px;
    height: 0px;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    flex-direction: row-reverse;
    margin-right: 720px;
}
.week {
    font-size: 14px;
    opacity: 0.5;
}
.tree-bold {
    font-size: 18px;
}
.teachers {
    margin-top: 226px;
    margin-left: 311px;
    display: flex;
    font-weight: bold;
    font-size: 48px;
}
.ellipse4 {
    height: 44.19px;
    margin-top: 40px;
    margin-right: 38px;
}
.photos {
    display: flex;
    justify-content: space-around;
    width: 1341px;
    margin-left: 266px;
    margin-top: 63px;
    height: 190px;
}
.teachers-name {
    display: flex;
    justify-content: space-around;
    width: 1341px;
    margin-left: 260px;
    margin-top: 63px;
    font-size: 24px;
}
.names {
    margin: 0;
    padding: 0;
}
.spec {
    display: flex;
    justify-content: space-around;
    width: 1341px;
    margin-left: 260px;
    font-size: 16px;
    opacity: 0.8;
}
.bio {
    display: flex;
    justify-content: space-around;
    width: 1341px;
    margin-left: 260px;
    margin-top: 20px;
}
.button-bio {
    width: 169px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    color:#fff;
}
.article {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    margin-top: 180px;
}
.big {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 2;
    opacity: 0.5;
}
.rec {
    width: 353px;
    height: 44px;
    background: #FFFFFF50;
    border-radius: 50px 0px 0px 50px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail {
    margin-left: 40px;
    opacity: 0.5;
}
.button-footer {
    width: 160px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    margin-left: -20px;
    text-decoration: none;
    color: #fff;
}
.footer-icons {
    display: flex;
    justify-content: space-around;
    width: 547px;
    margin-left: 650px;
    margin-top: 40px;
    height: 100px;
}
.border-icons {
    width: 50px;
    height: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}